{% extends 'base.html'%}
{% load static %}
{% block title %}weekly-specials {% endblock %}

{% block body %}
       <div class="breadcrumbs-area bread-bg-5 bg-opacity-black-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs">
                            <h2 class="breadcrumbs-title">Every Week Menu</h2>
                            <ul class="breadcrumbs-list">
                                <li><a href="{% url 'home'%}">Home</a></li>
                                <li>Every Week Menu</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
		<section id="page-content" class="page-wrapper">

            <!-- CONTACT AREA START -->
            <div class="contact-area pt-50 pb-50">
				<div class="testimonial-area ptb-50">
					<div class="container">
						<div class="section-title mb-30 text-center">
							<h3>THERE IS NO LOVE MORE SINCERE</h3>
							<h2 class="h1 mb50">THAN THE LOVE OF FOOD</h2>
						</div>
					</div>
				</div>
				
				
				
				
				<div class="features-area fix">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5">
                            <div class="features-info bg-gray">
                                <div class="section-title mb-30">
                                    <h3>HERE IS</h3>
                                    <h2 class="h1">WEEKLY SAMPLE MENU</h2>
                                </div>
                                <div class="features-desc">
                                    
                                </div>
                                <div class="features-include">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6>
													<img src="{% static 'images/icons/7.png'%}" alt="">
													<span class="contentHolder">Paneer Butter Masala</span>
												</h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Dal Fry</span></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Chana Masala</span></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Egg Curry</span></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Mix Veg Masala</span></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Aloo Beans Fry</span></h6>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Vegetable Sambar</span></h6>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Kadhi Pakodi</span></h6>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Thai Red Curry</span></h6>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Achari Chicken Curry</span></h6>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Mutton Dum Biryani</span></h6>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Aloo Paratha</span></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
				
				
				
			<div class="testimonial-area pt-50 hide">
					<div class="container">
						<div class="alert alert-danger">small tray serves 20-25 members(rice for 10-12 members)</div>
						<div class="alert alert-danger">large tray serves 45-50 members(rice for 25-30 members)</div>
					</div>
				</div>
			
			
			
			
				
            </div>
            <!-- CONTACT AREA END -->

           

        </section>
{% endblock %}
  