{% extends 'base.html' %}
{% block title %}Welcome:Aahaar {% endblock %}
{% load static %}

{% block body %}
        <!-- SLIDER SECTION START -->
        <div class="slider-1 pos-relative slider-overlay">
            <div class="bend niceties preview-1">
                <div id="ensign-nivoslider-3" class="slides">   
                    <img src="{% static 'images/slider-1.jpg'%}" alt="" title="#slider-direction-1"  />
                    <img src="{% static 'images/slider-2.jpg'%}" alt="" title="#slider-direction-2"  />
                    <img src="{% static 'images/slider-3.jpg'%}" alt="" title="#slider-direction-3"  />
                </div>
                <!-- direction 1 -->
				<a name="myAnchor" id="myAnchor">&nbsp;</a>
                <div id="slider-direction-1" class="slider-direction">
                    <div class="slider-content text-center">
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                            <h4 class="slider-1-title-1">Welcome to <span>Aahaar</span></h4>
                        </div>
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                            <h1 class="slider-1-title-2"> TASTE OF THE EAST</h1>
                        </div>
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                            <p class="slider-1-desc">The best place to kick off your day or just take a break and enjoy a yummy biryani</p>
                        </div>
                        <!--div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                            <a class="slider-button mt-40" href="#">Read More</a>
                        </div-->
                    </div>
                </div>
                <!-- direction 2 -->
                <div id="slider-direction-2" class="slider-direction">
                    <div class="slider-content text-center">
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                            <h4 class="slider-1-title-1">Welcome to <span>Aahaar</span></h4>
                        </div>
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                            <h1 class="slider-1-title-2">TASTE OF THE EAST</h1>
                        </div>
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                            <p class="slider-1-desc">The best place to kick off your day or just take a break and enjoy a yummy breakfast</p>
                        </div>
                        <!--div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                            <a class="slider-button mt-40" href="#">Read More</a>
                        </div-->
                    </div>
                </div>
                <!-- direction 2 -->
                <div id="slider-direction-3" class="slider-direction">
                    <div class="slider-content text-center">
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                            <h4 class="slider-1-title-1">Welcome to <span>Aahaar</span></h4>
                        </div>
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                            <h1 class="slider-1-title-2"> TASTE OF THE EAST</h1>
                        </div>
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                            <p class="slider-1-desc">The best place to kick off your day or just take a break and enjoy a yummy breakfast</p>
                        </div>
                        <!--div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                            <a class="slider-button mt-40" href="#">Read More</a>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
        <!-- SLIDER SECTION END -->

        <!-- Start page content -->
        <section id="page-content" class="page-wrapper">
		
            <!-- ABOUT SHELTEK AREA START -->
            <div class="about-sheltek-area ptb-115">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="section-title mb-30">
                                <h2>WELCOME TO AAHAAR</h2>
                            </div>
                            <div class="about-sheltek-info">
                                <p>Home of Indian food, both vegetarian and non-vegetarian curries, biryanis and also homemade parathas. Mommies of young kids describe us as their only destination to feed kids yummy and healthy food. Once you give our food a try, you'll be sure to come back for more.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="about-image">
                                <a href="about.html"><img src="{% static 'images/about-1.jpg'%}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ABOUT SHELTEK AREA END -->
            
            <!-- SERVICES AREA START -->
            <div class="services-area pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title-2 text-center">
                                <h2>OUR POPULAR DISHES</h2>
                                <p><b>Aahaar</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="service-carousel">
                            <!-- service-item -->
                            <div class="col-md-12">
                                <div class="service-item">
                                    <div class="service-item-image">
                                        <a href="javascript:void(0);"><img src="{% static 'images/1_ourPopularDishes_Palak_Paneer.jpg'%}" alt=""></a>
                                    </div>
                                    <div class="service-item-info">
                                        <h5><a href="javascript:void(0);">Palak Paneer</a></h5>
                                    </div>
                                </div>
                            </div>
							<!-- service-item -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- SERVICES AREA END -->
            
            <!-- BOOKING AREA START -->
            <div class="booking-area bg-1 call-to-bg plr-140 pt-75">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="section-title text-white">
                                <h3>BOOK YOUR</h3>
                                <h2 class="h1">HOME DELIVERY</h2>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            <div class="booking-conternt clearfix">
                                <div class="book-house text-white">
                                    <h2>BOOK YOUR FAVORITE DISH NOW </h2>
                                    <h2 class="h5">CALL US ON : +1-5102039957  </h2>
                                </div>
                                <div class="booking-imgae">
                                    <img src="{% static 'images/booking.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BOOKING AREA END -->
            
            <!-- FEATURED FLAT AREA START -->
            <div class="testimonial-area ptb-50">
				<div class="container">
					<div class="section-title mb-30 text-center">
						<h3>THERE IS NO LOVE MORE SINCERE</h3>
						<h2 class="h1">THAN THE LOVE OF FOOD</h2>
					</div>
				</div>
			</div>
            <!-- FEATURED FLAT AREA END -->
            
            <!-- FEATURES AREA START -->
            <div class="features-area fix" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5">
                            <div class="features-info bg-gray">
                                <div class="section-title mb-30">
                                    <h3>HERE IS</h3>
                                    <h2 class="h1">WEEKLY SAMPLE MENU</h2>
                                </div>
                                <div class="features-desc">
                                    
                                </div>
                                <div class="features-include">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6>
													<img src="{% static 'images/icons/7.png'%}" alt="">
													<span class="contentHolder">Paneer Butter Masala</span>
												</h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Dal Fry</span></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Chana Masala</span></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Egg Curry</span></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Mix Veg Masala</span></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Aloo Beans Fry</span></h6>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Vegetable Sambar</span></h6>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Kadhi Pakodi</span></h6>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Thai Red Curry</span></h6>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Achari Chicken Curry</span></h6>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Mutton Dum Biryani</span></h6>
                                            </div>
                                        </div>
										<div class="col-lg-6 col-md-6 col-sm-4">
                                            <div class="features-include-list">
                                                <h6><img src="{% static 'images/icons/7.png'%}" alt=""><span class="contentHolder">Aloo Paratha</span></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FEATURES AREA END -->
            
			<div class="testimonial-area ptb-50" >
				<div class="container">
					<div class="section-title mb-30 text-center">
						<h3>THERE IS NO LOVE MORE SINCERE</h3>
						<h2 class="h1">THAN THE LOVE OF FOOD</h2>
					</div>
				</div>
			</div>
            
        </section>
        <!-- End page content -->

{% endblock %}   


    