<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Login | Aahaar</title>
    {% load static %}
    <link  rel="stylesheet" href={% static 'css/shortcode/register.css' %} />
</head>
<body>
<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
                        <h6><a href="{% url "home"%}">Home</a></h6>
			    		<h2 class="panel-title">Please Login for Aahaar..</h2>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" method="POST" action={% url 'login'%}>
                        {% csrf_token %}
			    	<div class="row">
			    		<div >		
			    			<div class="form-group">
                                <label>User name</label>
			    				<input type="text" name="username" id="username" class="form-control input-sm" placeholder="User name">
			    			</div>
                        </div>
                    </div>

			    			<div class="row">
			    				<div class="">
			    					<div class="form-group">
                                        <label>Password</label>
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>
			    				
			    			</div>
                            <div class="messages">
            					{% for msg in messages%}
                					<div class="alert alert-{{msg.level_tag}}" role="alert">
                   						 {{msg}}
                					</div>
            					{% endfor %}
        					</div>
			    			
			    			<input type="submit" value="Login" class="btn btn-info btn-block">
                            <h5>Not Register yet?<a href={% url 'register'%}>Register here</a></h5>
			    		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>

</body>
</html>