{% extends 'base.html '%}
{% load static %}
{% block title %}Partymenu {% endblock %}

{% block body %}
       <div class="breadcrumbs-area bread-bg-2 bg-opacity-black-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs">
                            <h2 class="breadcrumbs-title">Party Menu</h2>
                            <ul class="breadcrumbs-list">
                                <li><a href="{% url 'home'%}">Home</a></li>
                                <li>Party Menu</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
		<section id="page-content" class="page-wrapper">

            <!-- CONTACT AREA START -->
            <div class="contact-area pt-115 pb-115">
				<div class="container">
					<div class="col-sm-12">
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						{% comment %} <div class="panel-group accordion" id="accordionId" > {% endcomment %}

				  
						{% for cat in menu %}
						{% for category in cat %} 
						  
						  <div class="panel panel-default">
							<div class="panel-heading" role="tab" id="{{category}}">
							  <h4 class="panel-title">
								<a  role="button"  data-parent="#accordion" data-toggle="collapse" href="#{{category}}" aria-expanded="true" aria-controls="{{category}}">
								  {{category}}
								</a>
							  </h4>
							</div>
							<div id="{{category}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{category}}">
							  <div class="panel-body">
								<table class="table table-striped">
										<thead>
											<tr>
												<th>Name</th>
												<th>Small Tray(in $)</th>
												<th>Large Tray(in $)</th>
											</tr>
										</thead>
										<tbody>
										{% for key,value in cat.items %}
										{% for item_list in value %}
											<tr>
												<td>{{item_list.item}}</td>
												<td>{{item_list.small_tray}}</td>
												<td>{{item_list.large_tray}}</td>
											</tr>
										{% endfor %}
										{% endfor %}	
										</tbody>
									</table>
							  </div>
							</div>
						  </div>
						  
						{% endfor %}
						{% endfor %} 
						</div>
					
					</div>
				</div>
				
				<div class="container">
					<div class="testimonial-area pt-50">
					<div class="container">
						<div class="alert alert-danger">small tray serves 20-25 members(rice for 10-12 members)</div>
						<div class="alert alert-danger">large tray serves 45-50 members(rice for 25-30 members)</div>
					</div>
				</div>
				</div>
				
				
            </div>
            <!-- CONTACT AREA END -->

           

        </section>
{% endblock %}